<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>processServlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPostServlet</servlet-name>
        <servlet-class>processServlet.UserPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>processServlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>processServlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileImgChangeServlet</servlet-name>
        <servlet-class>processServlet.ProfileImgChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>processServlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileInfoServlet</servlet-name>
        <servlet-class>processServlet.UpdateProfileInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>processServlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFullPostServlet</servlet-name>
        <servlet-class>processServlet.UserFullPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminProcessServlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removepostfromadmin</servlet-name>
        <servlet-class>AdminProcessServlets.Removepostfromadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserAdminServlet</servlet-name>
        <servlet-class>AdminProcessServlets.BlockUserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalUserCountServlet</servlet-name>
        <servlet-class>AdminProcessServlets.TotalUserCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalPostLikesCount</servlet-name>
        <servlet-class>AdminProcessServlets.TotalPostLikesCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOut</servlet-name>
        <servlet-class>AdminProcessServlets.AdminLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeletePostServlet</servlet-name>
        <servlet-class>processServlet.UserDeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeDisLike</servlet-name>
        <servlet-class>processServlet.LikeDisLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userCommentServet</servlet-name>
        <servlet-class>processServlet.userCommentServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPostCountProfilePage</servlet-name>
        <servlet-class>processServlet.UserPostCountProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCommentServlet</servlet-name>
        <servlet-class>processServlet.deleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserContactServlet</servlet-name>
        <servlet-class>processServlet.UserContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalCommentCount</servlet-name>
        <servlet-class>AdminProcessServlets.TotalCommentCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgopasswordServlet</servlet-name>
        <servlet-class>processServlet.forgopasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPostServlet</servlet-name>
        <url-pattern>/UserPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileImgChangeServlet</servlet-name>
        <url-pattern>/ProfileImgChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileInfoServlet</servlet-name>
        <url-pattern>/UpdateProfileInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFullPostServlet</servlet-name>
        <url-pattern>/UserFullPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removepostfromadmin</servlet-name>
        <url-pattern>/Removepostfromadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserAdminServlet</servlet-name>
        <url-pattern>/BlockUserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalUserCountServlet</servlet-name>
        <url-pattern>/TotalUserCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalPostLikesCount</servlet-name>
        <url-pattern>/TotalPostLikesCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOut</servlet-name>
        <url-pattern>/AdminLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeletePostServlet</servlet-name>
        <url-pattern>/UserDeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeDisLike</servlet-name>
        <url-pattern>/LikeDisLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userCommentServet</servlet-name>
        <url-pattern>/userCommentServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPostCountProfilePage</servlet-name>
        <url-pattern>/UserPostCountProfilePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCommentServlet</servlet-name>
        <url-pattern>/deleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserContactServlet</servlet-name>
        <url-pattern>/UserContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalCommentCount</servlet-name>
        <url-pattern>/TotalCommentCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgopasswordServlet</servlet-name>
        <url-pattern>/forgopasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
